[submodule "lib/intrade-bar-api-cpp"]
	path = lib/intrade-bar-api-cpp
	url = https://github.com/NewYaroslav/intrade-bar-api-cpp.git
[submodule "lib/bo-payout-model"]
	path = lib/bo-payout-model
	url = https://github.com/NewYaroslav/bo-payout-model.git
[submodule "lib/xtime_cpp"]
	path = lib/xtime_cpp
	url = https://github.com/NewYaroslav/xtime_cpp.git
[submodule "lib/xquotes_history"]
	path = lib/xquotes_history
	url = https://github.com/NewYaroslav/xquotes_history.git
[submodule "lib/gzip-hpp"]
	path = lib/gzip-hpp
	url = https://github.com/NewYaroslav/gzip-hpp.git
[submodule "lib/openssl_win64"]
	path = lib/openssl_win64
	url = https://github.com/NewYaroslav/openssl_win64.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/curl-7.60.0-win64-mingw"]
	path = lib/curl-7.60.0-win64-mingw
	url = https://github.com/NewYaroslav/curl-7.60.0-win64-mingw.git
[submodule "lib/banana-filesystem-cpp"]
	path = lib/banana-filesystem-cpp
	url = https://github.com/NewYaroslav/banana-filesystem-cpp.git
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lib/Simple-WebSocket-Server"]
	path = lib/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
[submodule "lib/forexprostools-cpp-api"]
	path = lib/forexprostools-cpp-api
	url = https://github.com/NewYaroslav/forexprostools-cpp-api.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/xtechnical_analysis"]
	path = lib/xtechnical_analysis
	url = https://github.com/NewYaroslav/xtechnical_analysis.git
[submodule "lib/mt-bridge"]
	path = lib/mt-bridge
	url = https://github.com/NewYaroslav/mt-bridge.git
[submodule "lib/easy_bo_tester"]
	path = lib/easy_bo_tester
	url = https://github.com/NewYaroslav/easy_bo_tester.git
[submodule "lib/olymptrade-cpp-api"]
	path = lib/olymptrade-cpp-api
	url = https://github.com/NewYaroslav/olymptrade-cpp-api.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/imgui-sfml"]
	path = lib/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "lib/fontaudio"]
	path = lib/fontaudio
	url = https://github.com/fefanto/fontaudio.git
[submodule "lib/IconFontCppHeaders"]
	path = lib/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "lib/simple-named-pipe-server"]
	path = lib/simple-named-pipe-server
	url = https://github.com/NewYaroslav/simple-named-pipe-server.git
